# -*- sh -*-

# Pinned version of nixpkgs:
NIXPKGS_COMMIT=053ad4e0db7241ae6a02394d62750fdc5d64aa9f
export NIX_PATH=nixpkgs=https://github.com/nixos/nixpkgs/archive/${NIXPKGS_COMMIT}.tar.gz

# Load in the shell.nix file:
use nix

# Reload if these files changes:
watch_file shell.nix
